# Generador de personas aleatorias

In [56]:
import pandas as pd
from faker import Faker

In [68]:
url_api = 'https://randomuser.me/api?format=csv'
params = {
    'results': 100,
    'nat': 'es,us',
    #'password': '8-16,lower,upper,number,special',
    'exc': 'nat,picture,id,login,registered'
}
query = ''
for k, v in params.items():
    if isinstance(v, int): v = str(v)
    query += '&' + k + '=' + v
url = url_api + query

In [53]:
personas = pd.read_csv(url)
personas.sample(8)

,gender,name.title,name.first,name.last,location.street.number,location.street.name,location.city,location.state,location.country,location.postcode,location.coordinates.latitude,location.coordinates.longitude,location.timezone.offset,location.timezone.description,email,dob.date,dob.age,phone,cell
22,female,Ms,Teresa,Woods,5292,W Dallas St,Cape Fear,Michigan,United States,22783,-83.4344,16.6712,+9:30,"Adelaide, Darwin",teresa.woods@example.com,1974-05-01T05:13:46.629Z,48,(011)-649-0183,(565)-569-6322
17,male,Mr,William,Fuller,1719,Fincher Rd,Shelby,Oregon,United States,35572,-66.5893,155.3425,+2:00,"Kaliningrad, South Africa",william.fuller@example.com,1997-09-03T23:18:37.769Z,25,(829)-898-2142,(587)-509-8042
56,male,Mr,Martin,Guerrero,4656,Calle Mota,Córdoba,Asturias,Spain,66181,52.8962,25.3095,-8:00,Pacific Time (US & Canada),martin.guerrero@example.com,1980-04-02T13:59:03.438Z,42,939-252-140,683-023-737
25,male,Mr,Gerardo,Montero,1076,Calle del Prado,Lugo,Castilla y León,Spain,84151,-63.0970,101.8352,+9:00,"Tokyo, Seoul, Osaka, Sapporo, Yakutsk",gerardo.montero@example.com,1954-12-26T11:59:57.412Z,68,954-338-786,603-494-351
59,male,Mr,Ronald,Collins,620,E North St,Miami Gardens,Kansas,United States,55599,19.9713,-112.6203,+1:00,"Brussels, Copenhagen, Madrid, Paris",ronald.collins@example.com,1988-03-19T09:51:58.839Z,34,(163)-720-1010,(576)-331-1235
98,female,Mrs,Rocio,Campos,3311,Calle de Argumosa,Hospitalet de Llobregat,Extremadura,Spain,27025,-39.9242,-88.7241,+4:30,Kabul,rocio.campos@example.com,1989-06-24T10:47:59.355Z,33,967-261-531,648-726-864
14,male,Mr,Rick,Burns,1403,Plum St,Nashville,Ohio,United States,38074,24.6450,-12.0550,+5:00,"Ekaterinburg, Islamabad, Karachi, Tashkent",rick.burns@example.com,1977-07-13T14:38:34.871Z,45,(199)-261-5383,(004)-489-5910
35,female,Miss,Yolanda,Leon,6599,Avenida de Castilla,Barcelona,Canarias,Spain,43866,21.5808,-170.2192,+9:30,"Adelaide, Darwin",yolanda.leon@example.com,1950-08-09T23:07:02.330Z,72,915-911-833,694-557-935

In [67]:
fake = Faker(['es_MX'])
personas2 = {'nombre':[],'apellido':[],'direccion':[]}
for _ in range(5):
    personas2['nombre'].append(fake.first_name())
    personas2['apellido'].append(fake.last_name())
    personas2['direccion'].append(fake.address())
pd.DataFrame(personas2)

    nombre     apellido                                          direccion
0  Alberto      Casárez  Cerrada Rosario 863 Edif. 983 , Depto. 867\nVi...
1    Diego      Fuentes  Callejón Mireles 254 870\nVieja Malawi, YUC 81177
2  Pascual      Quesada  Avenida Durango 667 Interior 135\nVieja Grecia...
3   Ángela      Esparza  Pasaje Sur Zelaya 338 471\nSan Roberto los alt...
4  Ernesto  Villalpando  Calle Mejía 140 Edif. 159 , Depto. 985\nNueva ...