In [1]:
import pandas as pd

# Mas info en https://randomuser.me/documentation
url_api = 'https://randomuser.me/api?format=csv'
params = {
	'results': 100,
	#'nat': 'es',
	#'password': '8-16,lower,upper,number,special',
	'exc': 'nat,picture,id,login,registered'
}
query = ''
for k, v in params.items():
	if isinstance(v, int): v = str(v)
	query += '&' + k + '=' + v
url = url_api + query

people = pd.read_csv(url)
people.sample(8)

,gender,name.title,name.first,name.last,location.street.number,location.street.name,location.city,location.state,location.country,location.postcode,location.coordinates.latitude,location.coordinates.longitude,location.timezone.offset,location.timezone.description,email,dob.date,dob.age,phone,cell
51,male,Mr,Justus,Span,7548,De Groene Vork,Nijega,Drenthe,Netherlands,23650,89.4222,33.0030,-7:00,Mountain Time (US & Canada),justus.span@example.com,1979-02-23T21:35:57.810Z,43,(686)-997-0806,(898)-911-0006
3,male,Mr,Arthur,Ambrose,3807,Regent Ave,Chelsea,Prince Edward Island,Canada,B9Z 1C8,-52.5198,-161.8269,+9:00,"Tokyo, Seoul, Osaka, Sapporo, Yakutsk",arthur.ambrose@example.com,1979-04-19T21:25:28.001Z,43,342-391-1244,915-181-8478
29,female,Ms,Mirela,Costa,6545,Rua Rui Barbosa,Indaiatuba,Rio Grande do Norte,Brazil,83701,56.7897,-113.8235,+11:00,"Magadan, Solomon Islands, New Caledonia",mirela.costa@example.com,1986-06-09T13:26:07.132Z,36,(30) 8206-4138,(04) 4388-8160
69,female,Mrs,Thea,Johansen,7067,Banevej,Brondby,Danmark,Denmark,43709,-79.3664,39.6374,-5:00,"Eastern Time (US & Canada), Bogota, Lima",thea.johansen@example.com,1971-02-14T00:51:42.697Z,51,39927854,58002288
20,male,Mr,پارسا,سلطانی نژاد,2660,میدان استقلال,بروجرد,گیلان,Iran,97551,-1.0496,-37.0974,+2:00,"Kaliningrad, South Africa",prs.sltnynjd@example.com,1992-05-11T13:25:41.761Z,30,031-53319104,0923-820-6465
45,male,Mr,Vernon,Young,5094,Bruce St,Mildura,Queensland,Australia,3292,47.4801,165.8565,-3:00,"Brazil, Buenos Aires, Georgetown",vernon.young@example.com,1982-05-27T10:00:02.880Z,40,01-1568-9684,0441-399-292
70,female,Madame,Beatrice,Leclerc,9009,Rue de L'Abbé-Groult,Orvin,Graubünden,Switzerland,7009,85.5995,-85.8357,+4:00,"Abu Dhabi, Muscat, Baku, Tbilisi",beatrice.leclerc@example.com,1961-08-15T15:46:31.295Z,61,079 322 96 56,076 464 03 68
82,male,Mr,Anthony,Murray,3683,Alexander Road,Monaghan,Cork,Ireland,95382,-15.3054,175.6352,-9:00,Alaska,anthony.murray@example.com,1950-10-09T09:25:31.469Z,72,031-156-0598,081-818-7915